.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
}

.chatWrapper {
  border: 1px solid black;
  padding: 10px;
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word;
}


.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #8363a1;
  border-radius: 4px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputField {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 10px;
  background-color: #8363a1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 48%;
  font-weight: bold;
}

.button:hover {
  background-color: #6f4b8c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:disabled {
  background-color: #b0aeb0;
  color: #f0f0f0;
  cursor: not-allowed;
  box-shadow: none;
}

.button:disabled:hover {
  background-color: #b0aeb0;
}

.textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  box-sizing: border-box;
}
